body{
    background-color: rgb(185, 134, 66);
    color: beige;
    font-family: "Jost", sans-serif;
    margin: 20px;
    
}
header{
    background-color: rgb(143, 88, 36);
    color: antiquewhite;
    border-bottom: solid 10px rgb(243, 181, 67);
    padding: 20px;
    font-size: 32px;
}
h1{
    color: bisque;
    font-size: 28;
}
p{
    color:blanchedalmond;
    font-size: 20;
}

section{
    background-color: rgb(70, 50, 23);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}